<div class="p-4 w-full rounded-xl drop-shadow gap-4 bg-white h-fit">
    <div class="flex gap-4 items-center">
        <img
            src="https://images.pexels.com/photos/6775289/pexels-photo-6775289.jpeg?auto=compress&cs=tinysrgb&w=400"
            class="h-12 w-12 bg-zinc-200 rounded-full flex-shrink-0 object-cover"
        />
        <div>
            <p class="font-semibold text-zinc-950">Tatenda Chinyamakobvu</p>
            <p class="text-sm">Director at The Idea Factory</p>
        </div>
    </div>
    <div class="flex-1">
        <div class="mt-4">
            <p>
                I build cool things for the web and the greater good of
                human-kind. Available for freelance projects.
            </p>
            <p class="mt-4 text-sm text-zinc-00">
                Fullstack Developer &bull; 6 years experience
            </p>
        </div>
        <div class="mt-4 flex gap-4">
            <button
                class="px-4 py-1 rounded-full font-semibold bg-white border text-sm"
            >
                Website
            </button>
            <button
                class="px-4 py-1 rounded-full font-semibold bg-white border text-sm"
            >
                Github
            </button>
        </div>
    </div>
</div>
