---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="container mx-auto w-full">
	<nav class="flex justify-between">
		<div class="flex gap-2">
			<HeaderLink href="/">Developer Index</HeaderLink>
		</div>
		<a
			href="/"
			class="px-6 rounded-xl py-2 font-semibold bg-gradient-to-b from-blue-700 via-blue-6 00 to-blue-500 shadow text-white"
		>
			Apply
		</a>
	</nav>
</header>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
