<div class="rounded-xl bg-white shadow-xl w-full">
    <div
        style="background-image: url('https://uploads-ssl.webflow.com/62dec9274f0a2ea2207a03a5/648e62846cc3ae780933faf5_thumbnail.png');"
        class="w-full bg-cover aspect-[3/4] bg-zinc-100 rounded-xl p-2 flex flex-col h-full justify-between"
    >
        <div class="flex justify-between">
            <button> Like</button>
            <p
                class="p-2 mix-blend-hard-light rounded-full backdrop-blur bg-zinc-900/40 text-white text-sm font-semibold shadow"
            >
                12
            </p>
        </div>
        <div
            class="p-4 bg-zinc-900/40 backdrop-blur mix-blend-hard-light rounded-xl shadow"
        >
            <p class="font-semibold text-white">Tatenda Chinyamakobvu</p>
            <p class="text-sm text-zinc-100"></p>
            <p class="text-sm text-zinc-300">
                Sr Fullstack Developer &bull; Freelancer
            </p>
        </div>
    </div>
</div>
