<div class="rounded-xl bg-white shadow-xl w-full">
    <div
        style="background-image: url('https://images.pexels.com/photos/5326943/pexels-photo-5326943.jpeg?auto=compress&cs=tinysrgb&w=600');"
        class="w-full bg-cover bg-zinc-100 rounded-xl p-2 flex flex-col h-full justify-end"
    >
        <div
            class="backdrop-blur mix-blend-hard-light rounded-xl shadow grid grid-cols-3 gap-2"
        >
            <p class="h-1 rounded-full bg-white"></p>
            <p class="h-1 bg-white/30 rounded-full"></p>
            <p class="h-1 bg-white/30 rounded-full"></p>
        </div>
    </div>
</div>
