---
import ArrowExternal from "./icons/ArrowExternal.astro";
---

<div
    class="bg-gradient-to-b from-blue-100 to-white p-4 pt-8 rounded-xl drop-shadow relative"
>
    <img
        src="https://images.pexels.com/photos/2180780/pexels-photo-2180780.jpeg?auto=compress&cs=tinysrgb&w=200"
        class="w-6 h-6 object-cover rounded-full"
    />
    <p class="font-semibold text-zinc-950 mt-2">Telescope</p>
    <p class="absolute top-4 right-4 rounded-full text-zinc-600 p-2">
        <ArrowExternal />
    </p>
    <p class="mt-4">
        This tool helps people to get started with programming. Its the easiest
        to hop onto a new satisfying career.
    </p>
    <p
        class="mt-4 text-sm p-2 rounded-md bg-blue-50 w-fit px-4 font-semibold text-blue-600"
    >
        Featured project
    </p>
</div>
